* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

.contact {
  width: 100%;
}

.contact-top {
  margin: 3rem 0rem 0rem 0rem;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  max-width: 90%;
  
}

.contact-img{
  width: 60%;
}

.contact-container-top{
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contact-container {
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.contact-info {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 90%;
  margin: 0 auto;
}

.contact-information {
  width: 50%;
}

.contact-container-title {
  color: #544741;
  font-weight: 600;
  font-size: 1.5rem;
}

.contact-container-text {
  color: #655954;
  font-weight: 500;
  font-size: 1rem;
}

.contact-container-desc {
  color: #655954;
  font-weight: 700;
}

.contact-information-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-information-box-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contact-container-social {
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
  color: #544741;
  font-weight: 700;
}

.social-profiles {
  display: flex;
  gap: 0.75rem;
  padding: 1.5rem;
  width: max-content;
  margin: 0 auto;
}

.social-link {
  width: 2.5rem;
  height: 2.5rem;
  color: peach;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer-social-icon{
  object-fit: cover;
  height: 2rem;
  width: 2rem;
  margin: 0 0.75rem;
}

.form {
  margin-top: 1.25rem;
  position: relative;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.message {
  min-height: 200px;
}

.form-btn {
  background-color: #00cbd8;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #1f858c;
}

.contact-icon2 {
  position: absolute;
  left: 66%;
  top: 55%;
}


@media (max-width:1074px){
  .contact-top{
    max-width: 100%;
  }
  .contact-container-top{
    margin: 3rem;
  }
  .contact-icon2 {
    left: 61%;
  }
}

@media (max-width:1074px){
  .contact-icon2 {
    left: 55%;
    top: 58%;
  }
}


@media (max-width:900px){
  .contact-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-info {
    max-width: 100%;
  }
  .contact-container-top{
    margin: 2rem;
  }
  .contact-img{
    width: 80%;
  }
  .message {
    min-height: 150px;
    width: 25rem;
  }
  .form-btn {
    width: 25rem;
  }
}

@media (max-width:600px){
  .contact-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-container-top{
    margin: 2rem;
  }
}

@media (max-width:450px){
  .contact-img{
    width: 100%;
  }
}


@media (min-width: 768px) {
  .contact-info {
    flex-direction: row;
  }

  .form-input {
    flex-direction: row;
  }

  .form {
    height: 42rem;
  }

  .contact-icon2 {
    width: 350px;
    height: 300px;
  }
}
